@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary-dark: #1B3B22;
  --color-primary-darker: #0D1C10;
  --color-primary-hover: #2C4C3B;
  --color-accent-green: #4A7C59;
  --color-text-dark: #112415;
  --color-bg-offwhite: #EAECE8;
  --color-highlight-red: #D90000;
  --color-highlight-gold: #FCDC04;
}

body {
  background-color: var(--color-bg-offwhite);
  color: var(--color-text-dark);
}
